@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 100%;
  max-width: 80rem;
}

@theme {
  /* Fonts */
  --font-roboto: "Roboto", monospace;
  --font-roboto-mono: "Roboto Mono", monospace;
  /* Brown Shades */
  --color-brown-60: #ae9b84;
  --color-brown-65: #b8a893;
  --color-brown-70: #c2b4a3;
  --color-brown-80: #d6cdc1;
  --color-brown-90: #ebe6e0;
  --color-brown-95: #f5f2f0;
  --color-brown-97: #f9f7f6;
  --color-brown-99: #fdfcfc;
  /* Dark Shades */
  --color-dark-06: #0f0f0f;
  --color-dark-10: #1a1a1a;
  --color-dark-12: #1f1f1f;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-25: #404040;
  --color-dark-30: #4d4d4d;
  --color-dark-35: #595959;
  /* Grey Shades */
  --color-grey-40: #676665;
  --color-grey-50: #81807e;
  --color-grey-70: #b3b3b2;
  --color-grey-80: #cacace;
  --color-grey-90: #e6e6e6;
  --color-grey-95: #f2f2f2;
  --color-grey-97: #f7f7f7;
  --color-grey-99: #fcfcfc;
}

/* Global */
html,
body {
  font-family: var(--font-roboto);
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

p {
  font-size: 14px;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}
